body
{
    text-align: center;
    font-family: 'Lucida Sans';
    color: greenyellow; 
    font-size: 20px;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    color: lightcoral;
    border: 1px solid;
    margin: 0 auto;
}