body
{
    background: #555555;
    color: rgb(131, 0, 207);
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
}

#footer
{
    background:#666;
    color: white;
    text-align: center;
    padding: 0.5em;
}
